body {
	background-color: #a1a1a1;
}

#content {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px 5px #888888;
}
#loading-display {
	position: fixed;
	right: 5%;
	top: 5%;
	text-align: center;
	z-index: 10;
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #33ccff; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
	margin: auto;
    animation: spin 2s linear infinite;	
}
.loader-sub {
	font-weight: bold;
	text-align: center;
	color: white;
	animation: color-change 5s linear infinite;
}
@-webkit-keyframes spin {
    0% { 
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	33% {
		border-top-color: #ff3333;
	}
	66% {
		border-top-color: #ffff33;
	}
    100% { 
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); 	
		border-top-color: #33ccff;		
	}
}
@keyframes spin {
    0% { 
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	33% {
		border-top-color: #ff3333;
	}
	66% {
		border-top-color: #ffff33;
	}
    100% { 
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); 	
		border-top-color: #33ccff;		
	}
}
@-webkit-keyframes color-change {
	0% {
		color: white;
	}
	50% {
		color: black;
	}
	100% {
		color: white;
	}
}
@keyframes color-change {
	0% {
		color: white;
	}
	50% {
		color: black;
	}
	100% {
		color: white;
	}
}

.gmod-addon {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 12px 12px 12px 12px;
	border-radius: 12px;
}

.gmod-addon .image {
	width: 100%;
	height: auto;
	float: left;
	padding: 12px 12px 12px 12px;
	display: none;
}
.gmod-addon .name {
	text-align: center;
	font-style: bold;
	font-size: 24;
	float: left;
	width: 100%;
	padding: 12px 12px 12px 12px;
}
.gmod-addon .workshop {
	float: left;
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 12px 12px 12px 12px;
}
.gmod-addon .description {
	float: left;
	padding: 12px 12px 12px 12px;
}

.gmod-item .pros {
	float: left;
	width: 100%;
	padding: 12px 12px 12px 12px;
	background-color: #66ff99;
}
.gmod-item .cons {
	float: left;
	width: 100%;
	padding: 12px 12px 12px 12px;
	background-color: #ffcccc;
}
.gmod-item .hints {
	float: left;
	width: 100%;
	padding: 12px 12px 12px 12px;
}

.gmod-addon .compare {
	float: left;
	width: 100%;
	display: flex;
}

.gmod-map .features {
	float: left;
	width: 100%;
}

@media only screen and (min-width: 700px){

	.gmod-addon .image {
		width: 100%;
		display: block;
	}
	.gmod-addon .name {
		width: 100%;
	}
	.gmod-addon .workshop {
		width: 100%;
	}
	.gmod-addon .description {
		width: 100%;
	}
}

@media only screen and (min-width: 900px){
	.gmod-addon .image {
		width: 25%;
	}
	.gmod-addon .name {
		width: 75%;
	}
	.gmod-addon .workshop {
		width: 75%;
	}
	.gmod-addon .description {
		width: 75%;
	}
	.gmod-addon .pros {
		width: 50%;
	}
	.gmod-addon .cons {
		width: 50%;
	}
	.gmod-addon .hints {
		width: 100%;
	}
}

@media only screen and (min-width: 1200px){
	.gmod-addon .image {
		width: 25%;
	}
	.gmod-addon .name {
		width: 75%;
	}
	.gmod-addon .workshop {
		width: 75%;
	}
	.gmod-addon .description {
		width: 75%;
	}
	.gmod-addon .pros {
		width: 50%;
	}
	.gmod-addon .cons {
		width: 50%;
	}
	.gmod-addon .hints {
		width: 100%;
	}
}