.ux-ui-Shell {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
}

.ux-ui-Shell .header , .ux-ui-Shell .footer {
	display: table-row;
	background-color: #e4e4e4;
	width: 100%;
	height: 40px;
	font-size: 20px;
	position: relative;
}
.ux-ui-Shell .header .left, .ux-ui-Shell .footer .left  {
	position: absolute;
	left: 0;
	width: 33%;
	text-align: left;
	overflow: hidden;
}
.ux-ui-Shell .header .right, .ux-ui-Shell .footer .right {
	position: absolute;
	right: 0;
	width: 33%;
	text-align: right;
	overflow: hidden;
}
.ux-ui-Shell .header .center , .ux-ui-Shell .footer .center {
	position: absolute;
	left: 33%;
	width: 33%;
	text-align: center;
	overflow: hidden;
}

.ux-ui-Shell .header .add-btn {
	margin: auto;
}
.ux-ui-Shell .header .delete-btn {
	margin: auto;
}
.ux-ui-Shell .header .reset-btn {
	margin: auto;
}

.ux-ui-Shell .content {
	display: table-row;
	width: 100%;
	overflow: hidden;
}

.ux-ui-Shell .content * {
	float: left;
}

