.ux-ui-Popup {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.ux-ui-Popup * {
	float: left;
}
.ux-ui-Popup .content {
	background-color: #ffffff;
	position: absolute;
	margin: auto;
	width: 50%;
	height: 50%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
}

.ux-ui-Popup .content .form {
	width: 100%;
	height: 70%;
	overflow: auto;
}
.ux-ui-Popup .content .form *{
	width: 99%;
	float: left;
}

.ux-ui-Popup .content .form input {
	margin-bottom: 5px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	text-align: center;
}
.ux-ui-Popup .content .form label {
	margin-top: 5px;
}
.ux-ui-Popup .content .buttom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.ux-ui-Popup .content .top {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 10px;
	width: 100%;
}
.ux-ui-Popup .content .title {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.ux-ui-Popup .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1, 1, 1, 1;
	margin: 1, 1, 1, 1;
	float: right;
}