<html>
<head>
	<link rel="stylesheet" href="css/gridlayout.css">
	<title>GridLayout Example</title>
	<style>
		.pageHeader {
			text-align: center;
			width: 100%;
			font-size: 20px;
			font-family: Vedana, sans-serif;
		}
		.pageSubheader {
			width: 100%;
			text-align: center;
			font-size: 14px;
			font-family: Vedana, sans-serif;
		}
	</style>
</head>
<body>
	<div class="pageHeader">
		Header of the page, can be used as a title.
		
	</div>
	<div class="pageSubheader">
			Subheader of the page
		</div>
	
	
	<div class="row">
		<div class="col-1">Eins</div>
	</div>
	
	<div class="row">
		<div class="col-2">Zwei</div>
	</div>
	
	<div class="row">
		<div class="col-3">Drei</div>
	</div>
	
	<div class="row">
		<div class="col-4">Vier</div>
	</div>
	
	<div class="row">
		<div class="col-5">Fünf</div>
	</div>
	
	<div class="row">
		<div class="col-6">Sechs</div>
	</div>
	
	<div class="row">
		<div class="col-7">Sieben</div>
	</div>
	
	<div class="row">
		<div class="col-8">Acht</div>
	</div>
	
	<div class="row">
		<div class="col-9">Neun</div>
	</div>
	
	<div class="row">
		<div class="col-10">Zehn</div>
	</div>
</body>
</html>