<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/responsivelayout.css">
	<title> Responsive Layout (Multiplatform) </title>
</head>
<body>
	<div class="row">
		Check <a href="GridLayout.html">GridLayout</a> for more information.
	</div>
	<div class="row">
		<div class="col-1 col-m-1">Eins</div>
	</div>
	
	<div class="row">
		<div class="col-2 col-m-2">Zwei</div>
	</div>
	
	<div class="row">
		<div class="col-3 col-m-3">Drei</div>
	</div>
	
	<div class="row">
		<div class="col-4 col-m-4">Vier</div>
	</div>
	
	<div class="row">
		<div class="col-5 col-m-5">Fünf</div>
	</div>
	
	<div class="row">
		<div class="col-6 col-m-6">Sechs</div>
	</div>
	
	<div class="row">
		<div class="col-7 col-m-7">Sieben</div>
	</div>
	
	<div class="row">
		<div class="col-8 col-m-8">Acht</div>
	</div>
	
	<div class="row">
		<div class="col-9 col-m-9">Neun</div>
	</div>
	
	<div class="row">
		<div class="col-10 col-m-10">Zehn</div>
	</div>
</body>
</html>